.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-section {
  width: 45%;
}

.center-section {
  width: 45%;
}

.recipe-info {
  text-align: center;
  margin-top: 20px;
}

.completed {
  text-decoration: line-through;
}

.recipe-image {
  width: 832px;
  height: 468px;
  object-fit: cover;
}
